{% extends 'layout.html' %}

{% block content %}
	<div class="container">
		<br />
		<br />
		<h1 class="text-center text-uppercase display-4">Registrar Usuario</h1>
		<br />
		<br />
		<legend class="border-bottom mb-4"></legend>
		<form method="POST", action="" class="text-center">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<br />
				<div class="col-sm-12 sm-6">
				<div class="form-group">
					{% if form.nombre.errors %}
						{{ form.nombre(class="form-control form-control-sm is-invalid", placeholder="Nombre") }}
						<div class="invalid-feedback">
							{% for error in form.nombre.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.nombre(class="form-control form-control-sm", placeholder="Nombre") }}
					{% endif %}
				</div>
				<br />
				<div class="form-group">
					{% if form.nombre.errors %}
						{{ form.email(class="form-control form-control-sm is-invalid", placeholder="Email") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-sm", placeholder="Email") }}
					{% endif %}
				</div>
				<br />
				<div class="form-group">
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-sm is-invalid", placeholder="Contraseña") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-sm", placeholder="Contraseña") }}
					{% endif %}
				</div>
				<br />
				<div class="form-group">
					{% if form.confirmpassword.errors %}
						{{ form.confirmpassword(class="form-control form-control-sm is-invalid", placeholder="Confirmar Contraseña") }}
						<div class="invalid-feedback">
							{% for error in form.confirmpassword.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirmpassword(class="form-control form-control-sm", placeholder="Confirmar Contraseña") }}
					{% endif %}
				</div>
				</div>
			</fieldset>
			<br />
			<div class="form-group col text-center">
				{{ form.enviar(class="btn btn-primary") }}
			</div>
			<br />
    		{% with messages = get_flashed_messages(with_categories=true) %}
   				{% if messages %}
   					{% for category, message in messages %}
   						<div class="alert alert-success alert-dismissible fade show {{ category }} col" role="alert">
   							{{ message }}
   						</div>
    					{% endfor %}
    				{% endif %}
    			{% endwith %}
    		<br />
		</form>
		<div class="border-top pt-3 container">
			<br />
			<small class="text-muted">
				<p class="text-center" style="color: black">
					¿Ya tiene una cuenta? <a href="{{ url_for('login') }}">
					Iniciar Sesión
				</p>
			</small>
			<small class="text-muted">
				<p class="text-center" style="color: black">
					<a href="{{ url_for('index') }}">Volver a Inicio</a>

				</p>
			</small>
			<br />
		</div>
		<div class="border-top pt-3 container">
		</div>
		<br />
		<br /> 
	</div>
{% endblock %}